body {
  background-color: #012A4A;
}
div {

  color: white;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
a:hover {
  color: #FCA311;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: #8B8C89;
  padding: 20px;
  padding-top: 70px;
}

nav a {
  color: rgb(38, 32, 59);
  text-decoration: none;
  font-size: 30px;
}
#music.active {
  color: rgb(255, 255, 255);
  text-shadow: 0px 5px 8px #000000;
}

#audiobook.active {
  color: rgb(255, 255, 255);
  text-shadow: 0px 5px 8px #000000;
}
.ahg {
  text-align: left;
  width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.flower-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}


.flowers {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:auto;
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 0px;
    align-content: center;

}

.flower {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:auto;
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 200px;
    align-content: center;

}



.plant-item {
    display: flex;
    flex-direction: row;

}
.plant-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2) ;
   
  
}
.search-button {
  background-color: #FCA311;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  float: right;
  margin: 20px;
  margin-left: -150px;
  margin-right: 86px;
  margin-bottom: 160%;
  
}